<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>weather app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css')}}"/>
  </head>
  <body>
    <div class="container">
      <h1>Weather Checker</h1>
      <form action="/weather">
        <input type="text" id="city" name="city" placeholder="Enter city name" />
        <input type="submit" value="Check Weather" />
      </form>
    </div>
  </body>
</html>
